baibuaapp/android/.gradle/4.10.2/fileHashes/fileHashes.bin
baibuaapp/android/.gradle/4.10.2/fileHashes/fileHashes.lock
baibuaapp/android/.gradle/4.10.2/taskHistory/taskHistory.bin
baibuaapp/android/.gradle/4.10.2/taskHistory/taskHistory.lock
baibuaapp/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
